syntax: glob

*.pyc
*.pyo
*.so
*.csc
*~
*.class
.hg.bak
simbuild
TOSSIM.py
app.xml
build
linkgain.out
topology.out
topology.txt
./cluster/
*/Graphs/*
results/*/*.csv
results/old/*
results-old/
noise/graphs/*.pdf
results/
*.aux
*.log
*.tex
./testbed/
./platform/
Parameters.py
./testbed_results/
*.exe
*.elf
*.ihex
*.srec
*.orig
*/ident_flags.txt
*/tos_image.xml
*/wiring-check.xml
app.c
*/*/*.java
COOJA.testlog
algorithm/*/obj_*/
algorithm/*/contiki-*.map
algorithm/*/contiki-*.a
algorithm/*/symbols.h
algorithm/*/symbols.c
algorithm/*/*.sky
algorithm/*/*.z1
*.lint
*.cmd
*.micaz
