
distance = 4.5

noise_models = ["meyer-heavy", "casino-lab"]

communication_models = ["low-asymmetry"]

sizes = [7, 11, 15, 21, 25]

source_periods = [2.0, 1.0, 0.5, 0.25]

configurations = [
    #'SourceCorner',
    #'SinkCorner',
    #'FurtherSinkCorner',
    #'Generic1',
    #'Generic2',

    #'RingTop',
    #'RingOpposite',
    #'RingMiddle',

    'Source2Corners',
    #'Source4Corners',
    'Source2Edges',
    #'Source4Edges',
    'Source2Corner',
    'SourceEdgeCorner',

    #'CircleEdges',
    #'CircleSourceCentre',
    #'CircleSinkCentre',
]

attacker_models = ['SeqNosReactiveAttacker()']

fault_models = ['ReliableFaultModel()']

latest_node_start_time = 1.0 # in seconds

node_id_orders = ['randomised']

approaches = ["PB_SINK_APPROACH", "PB_ATTACKER_EST_APPROACH"]

repeats = 300
