
distance = 4.5

noise_models = ["casino-lab", "meyer-heavy"]

communication_models = ["ideal"]

sizes = [11, 15, 21, 25]

source_periods = [1.0, 0.5, 0.25, 0.125]

configurations = [
    'SourceCorner',
    #'SinkCorner',
    #'FurtherSinkCorner',
    #'Generic1',
    #'Generic2',

    #'RingTop',
    #'RingOpposite',
    #'RingMiddle',

    #'CircleEdges',
    #'CircleSourceCentre',
    #'CircleSinkCentre',

    #'Source2Corners',
    #'Source4Corners',
    #'Source2Edges',
    #'Source4Edges',
    #'Source2Corner',

    #'LineSinkCentre',
    #'SimpleTreeSinkEnd'
]

repeats = 750

fault_models = ['ReliableFaultModel()']

attacker_models = ['SeqNoReactiveAttacker()']

latest_node_start_time = 1.0 # in seconds

node_id_orders = ['randomised']
