
distance = 4.5

noise_models = ["casino-lab"]

communication_models = ["low-asymmetry"]

sizes = [11, 25]

source_periods = [0.25, 0.5, 1.0, 2.0]

configurations = [
    'SourceCorner',
    #'Source2CornerTop',
    #'Source3CornerTop',
    #'Source3CornerTopLinear',

    #'SinkCorner',
    #'SinkCorner2Source',
    #'SinkCorner3Source',
    #'SinkCorner3SourceLinear',

    #'FurtherSinkCorner',
    #'FurtherSinkCorner2Source',
    #'FurtherSinkCorner3Source',
    #'FurtherSinkCorner3SourceLinear',
]

attacker_models = ['SeqNosReactiveAttacker()']

latest_node_start_time = 1.0 # in seconds

node_id_orders = ['randomised']

fault_models = ['ReliableFaultModel()']

sleep_duration = [2]

sleep_probability = [0.7, 0.8, 0.9]

non_sleep_source = [3]

non_sleep_sink = [0]

approach = ["SINK_SRC", "SRC_SINK", "SINK_SRC_SINK", "SRC_SINK_SRC"]

restricted_sleep = ["ALL_SLEEP", "NO_FAR_SLEEP"]

quiet_node_distance = [0, 1, 2, 3]

depth = [2]

safety_factors = [2.0]

repeats = 1000
