
distance = 4.5

noise_models = ["casino-lab"]

communication_models = ["low-asymmetry"]

sizes = [11]

source_periods = [3.0]

configurations = [
    'SourceCorner',
    #'SinkCorner',
    #'FurtherSinkCorner',
    #'Generic1',
    #'Generic2',
    
    #'RingTop',
    #'RingOpposite',
    #'RingMiddle',

    #'CircleEdges',
    #'CircleSourceCentre',
    #'CircleSinkCentre',

    #'Source2Corners',
]

attacker_models = ['RHMAttacker(3,0,1)']

latest_node_start_time = 0.0 # in seconds

node_id_orders = ['topology']

slot_period = [0.05]
dissem_period = [0.5]
tdma_num_slots = [50]

repeats = 300
