
distance = 4.5

noise_models = ["meyer-heavy"]

communication_models = ["ideal"]

sizes = [11, 15, 21, 25]

source_periods = [1.0, 0.5, 0.25, 0.125]

configurations = [
    'SourceCorner',
    #'Source2CornerTop',
    #'Source3CornerTop',

    #'SinkCorner',
    #'SinkCorner2Source',
    #'SinkCorner3Source',

    #'FurtherSinkCorner',
    #'FurtherSinkCorner2Source',
    #'FurtherSinkCorner3Source'
]

random_walk_types = [
    #'only_short_random_walk',
    #'only_long_random_walk',
    'phantom_walkabouts'
]

attacker_models = ['SeqNosReactiveAttacker()']

direction_biases = [0.9]

orders = [
	#"LongShort", 
	"ShortLong"
]

wait_before_short = [0]

short_counts = [1]
long_counts = [1]

repeats = 500
