
distance = 4.5

noise_models = ["meyer-heavy"]

sizes = [11, 15, 21, 25]

# (JProwler) Note that our simulation only has millisecond resolution,
# so periods that require a resolution greater than 0.001 will be
# truncated. An important example of this is 0.0625 which will be truncated
# to 0.062. So 0.0625 has been rounded up.
# (TOSSIM) This may not be the case any more, but has been left the same.
source_periods = [1.0, 0.5, 0.25, 0.125]
fake_periods = [0.5, 0.25, 0.125, 0.063]

periods = [(src, fake) for (src, fake) in itertools.product(source_periods, fake_periods) if src / 4.0 <= fake < src]

configurations = [
    'SourceCorner',
    #'SinkCorner',
    #'FurtherSinkCorner',
    #'Generic1',
    #'Generic2',
    #'RingTop',
    #'RingOpposite',
    #'RingMiddle',
    #'CircleEdges',
    #'CircleSourceCentre',
    #'CircleSinkCentre',
]

attacker_models = ['SeqNoReactiveAttacker()']

temp_fake_durations = [1, 2, 4]

prs_tfs = [1.0, 0.9, 0.8]
prs_pfs = [1.0]

repeats = 500
