
import itertools

distance = 4.5

noise_models = ["meyer-heavy", "casino-lab"]

communication_models = ["low-asymmetry"]

sizes = [11, 15, 21, 25]

source_periods = [2.0, 1.0, 0.5, 0.25, 0.125]
fake_periods = [1.0, 0.5, 0.25, 0.125, 0.0625]

periods = [(src, fake) for (src, fake) in itertools.product(source_periods, fake_periods) if src / 4.0 <= fake < src]

configurations = [
    'SourceCorner',
    #'SinkCorner',
    #'FurtherSinkCorner',
    #'Generic1',
    #'Generic2',
    #'RingTop',
    #'RingOpposite',
    #'RingMiddle',
    #'CircleEdges',
    #'CircleSourceCentre',
    #'CircleSinkCentre',
]

attacker_models = ['SeqNosReactiveAttacker()']

fault_models = ['ReliableFaultModel()']

latest_node_start_time = 1.0 # in seconds

node_id_orders = ['randomised']

temp_fake_durations = [1, 2, 4]

prs_tfs = [1.0, 0.9, 0.8]
prs_pfs = [1.0]

repeats = 10000
