
distance = 4.5

noise_models = ["meyer-heavy", "casino-lab"]

communication_models = ["no-asymmetry", "high-asymmetry", "ideal"]

sizes = [11, 15, 21, 25]

source_periods = [1.0, 0.5, 0.25, 0.125]

configurations = [
    'SourceCorner',
    #'SinkCorner',
    #'FurtherSinkCorner',
    #'Generic1',
    #'Generic2',
    
    #'RingTop',
    #'RingOpposite',
    #'RingMiddle',
    
    #'CircleEdges',
    #'CircleSourceCentre',
    #'CircleSinkCentre',

    #'Source2Corners',
]

attacker_models = ['SeqNoReactiveAttacker()']

latest_node_start_time = 1.0 # in seconds

node_id_orders = ['randomised']

walk_hop_lengths = {11: [6, 10, 14], 15: [10, 14, 18], 21: [16, 20, 24], 25: [20, 24, 28]}

landmark_nodes = ['sink_id', 'bottom_right']

repeats = 500
