
distance = 4.5

noise_models = ["casino-lab"]

communication_models = ["low-asymmetry"]

sizes = [11, 25]

source_periods = [0.25, 2.0]

configurations = [
    'SourceCorner',
    #'Source2CornerTop',
    #'Source3CornerTop',
    #'Source3CornerTopLinear',

    #'SinkCorner',
    #'SinkCorner2Source',
    #'SinkCorner3Source',
    #'SinkCorner3SourceLinear',

    #'FurtherSinkCorner',
    #'FurtherSinkCorner2Source',
    #'FurtherSinkCorner3Source',
    #'FurtherSinkCorner3SourceLinear',
]

attacker_models = ['SeqNosReactiveAttacker()']

latest_node_start_time = 1.0 # in seconds

node_id_orders = ['randomised']

fault_models = ['ReliableFaultModel()']

sleep_duration = [1,2]

sleep_probability = [0.5, 0.6, 0.7, 0.8]

non_sleep_closer_to_source = [1]

non_sleep_closer_to_sink = [1]

safety_factors = [0.4, 0.8, 1.2, 1.6, 2.0]

repeats = 1000
