distance = 4.5

noise_models = ["meyer-heavy"]

communication_models = ["ideal"]

sizes = [11, 15, 21, 25]

source_periods = [0.25, 0.5, 1.0, 2.0]

configurations = [
    'SourceCorner',
    'Source2CornerTop',
    'Source3CornerTop',

    'SinkCorner',
    'SinkCorner2Source',
    'SinkCorner3Source',

    #'FurtherSinkCorner',
    #'FurtherSinkCorner2Source',
    #'FurtherSinkCorner3Source'
]

attacker_models = ['SeqNosReactiveAttacker()']

latest_node_start_time = 1.0 # in seconds

node_id_orders = ['randomised']

direction_bias = [0.9]

orders = [
    "ShortLong",
    #"LongShort",
]

fault_models = ['ReliableFaultModel()']

wait_before_short = [0]

short_counts = [1]

long_counts = [1,2]

safety_factors = [1.3]

buffer_sizes = [10]

repeats = 2000